name: 'Install arkade CLIs'
description: 'Install arkade CLIs using inputs to the action'

${INPUTS}

outputs:
  tools: # output will be available to future steps
    description: 'The number of tools installed'
runs:
  using: 'node16'
  main: 'dist/index.js'
