name: "e2e-test"
on:
  pull_request:
  push:
    branches:
      - main
      - master
      - 'releases/*'

jobs:
  # npm-ci:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - run: npm ci

  # test action works running from the graph
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: alexellis/setup-arkade@v1
    - uses: ./
      with:
        kubectl: latest
        faas-cli: 0.14.10
    - name: check for faas-cli
      run: |
        $HOME/.arkade/bin/faas-cli version